@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "LemonMilk";
  src: url("./assets/fonts/Lemon_Milk.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}