@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "LemonMilk";
  src: url("./assets/fonts/Lemon_Milk.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body{
  background: linear-gradient(
    to bottom,
    #7693ef,    /* Starting color */
    #78b1e6,    /* Intermediate color */
    #7dfccf     /* Ending color */
  );
}